# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\deepp\Desktop\C Practice\NAMI-YEAR-II-TERM-II-SOFTWARE_ENGINEERING\Topic 2\Week_15_Sample_Programs\Week_15_Sample_Programs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
